* {
  box-sizing: border-box;
}

body {
  background: rgb(251,156,119);
  background: radial-gradient(circle, rgba(251,156,119,0.984488863904937) 7%,
  rgba(239,139,153,1) 36%, rgb(168, 160, 193) 92%, rgba(148,187,233,1) 97%);
}

.container {
  margin-inline: auto;
  margin-top: 180px;
  width: 360px;
  display: block;     
}

.content {
  position: relative;
  z-index: 1;
  padding: 40px 36px;    
  background-color: rgb(211,191,203);
  border-radius: 26px;      
  box-shadow: 0px 19px 22px -9px rgba(251,156,119,0.984488863904937);  
  display: flex;
  flex-direction: column;  
}

.title {
  border-radius: 50%;    
  margin-inline: auto;
  width: max-content;  
  color: aliceblue;   
  margin-top: -120px;  
  background-color: rgb(0,38,77);  
}

.icon{
  font-size: 70px;
  padding: 30px 40px;  
}  

.icon_input>i.fa {   
  justify-content: center;
  padding: 16px;  
  background-color: rgb(0,38,77);
  color: aliceblue;  
} 

.inner_box {    
  display: flex;
  margin-top: 40px;  
}

.icon_input {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
  
.lines_inputs>.password {
  margin-top: 10px;
}

.content>input:focus {
  background-color: rgb(138, 123, 123);
}

.lines_inputs>input {  
  border: unset; 
  color:aliceblue;
  font-family: inherit; 
  font-size: inherit; 
  line-height: inherit; 
  margin: 0;
  background-color: rgb(57,81,115);
  height: 48px;
  width: 100%;                
}

input:focus {
  background-color: rgb(0,38,77);
  outline: none;
}

.add_content {
  margin-top: 30px;
  display: flex;
  justify-content: space-between; 
  cursor: pointer; 
}
  
.rem {    
  cursor: pointer;
  font-size: 14px;
  padding: 0px 4px;  
}
  
.checkbox_rem {
  display: flex;
  align-items: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(84, 87, 87);     
}
  
a {  
  display: flex;
  align-items: center;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 12px;
  font-family: monospace, Courier New;
  font-style: italic;
  color: rgb(84, 87, 87);
  padding: 0px 10px;  
}

a:active {
  opacity: 0.5;  
}

button {    
  position: relative;
  z-index: 0;   
  display: block; 
  margin-inline: auto;    
  border: none; 
  padding: 14px 120px;    
  background-color: rgb(211,191,203);
  border-bottom-left-radius: 26px;
  border-bottom-right-radius: 26px;
  text-transform: uppercase;
  color: aliceblue;  
  cursor: pointer;     
}

button:active{
  opacity: 0.7;  
}